.navbar {
  background: #41B7D8;
  height: 60px;
  font-size: 22px;
  border-bottom: 1px solid #000000;

}

.navbar-brand {
  font-size: 24px;
  color: lightcyan;
}

.navbar .nav li a:hover {
  background: lightblue;
}

body {
  padding-top: 70px;
}

.container {

  max-width: 970px;

}

.preview {
  zoom: 0.5;
}

.preview-moz {
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
}

.cert_text {
  position: absolute;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, 0) -moz-transform : translate(- 50 %, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
