<html><head>
</head><body style="height: 792px; margin: 0 0 0 0
	;width: auto;
	border: 0;

	padding: 0;
	float: none !important;
}
">

<div id="preview" class="preview preview-moz" style=" position: relative;">
  <img src="template/1/bg.png">
  <!-- ngRepeat: field in cert --><span ng-repeat="field in cert" style="position: absolute;left: 561.5px ; top: 260px;" class="ng-scope">
            <span style="text-align: center; font-family: ; font-size: 40px;
                          position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); width: 1123px;" class="ng-binding">
                  presented to
              </span>
          </span><!-- end ngRepeat: field in cert --><span ng-repeat="field in cert" style="position: absolute;left: 810px ; top: 536px;" class="ng-scope">
            <span style="text-align: center; font-family: ; font-size: 36px;
                          position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); width: 1123px;" class="ng-binding">
                  19 January 2015
              </span>
          </span><!-- end ngRepeat: field in cert --><span ng-repeat="field in cert" style="position: absolute;left: 561.5px ; top: 436px;" class="ng-scope">
            <span style="text-align: center; font-family: ; font-size: 44px;
                          position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); width: 1123px;" class="ng-binding">
                  for outstanding improvement
              </span>
          </span><!-- end ngRepeat: field in cert --><span ng-repeat="field in cert" style="position: absolute;left: 561.5px ; top: 340px;" class="ng-scope">
            <span style="text-align: center; font-family: ; font-size: 48px;
                          position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); width: 1123px;" class="ng-binding">
                  Recipient Name
              </span>
          </span><!-- end ngRepeat: field in cert --><span ng-repeat="field in cert" style="position: absolute;left: 561.5px ; top: 148px;" class="ng-scope">
            <span style="text-align: center; font-family: 'Oleo Script Swash Caps', cursive; font-size: 68px;
                          position: absolute; left: 50%; -webkit-transform: translate(-50%, 0); width: 1123px;" class="ng-binding">
                  Certificate of Achievement
              </span>
          </span><!-- end ngRepeat: field in cert -->

</div>
</body></html>
